body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.cover {
  background-color: #0f245d;
  color: white;
  margin: 20px 50px;
  padding: 40px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
  margin: 0 2em;
}

.content-container {
  margin: 20px;
}
